.field label {
	font-size: 1.1em;
	margin-bottom: 6px;
	display: block;
}

.field-label {
	display: block;
}

.field-hint {
	color: #666;
	margin-bottom: 2px;
	display: block;
}

.field-selectBox {
	width: 100%;
	font-size: 1.1em;
}

.field-textBox {
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #222;
}

.field-error {
	color: #b10e1e;
	font-weight: bold;
}

.field-hasError {
	border-left: 5px solid #b10e1e;
	padding-left: 10px;
}

/**************************************
* Group
**************************************/

