/**************************************
* General
**************************************/

fieldset {
	border: none;
	padding: 0;
}

.field label,
.field legend {
	font-size: 1.1em;
	margin-bottom: 6px;
	display: block;
}

.field-label {
	display: block;
}

.field-legend {
	display: block;
}

.field-hint {
	color: #666;
	margin-bottom: 2px;
	display: block;
}

.field-error {
	color: #b10e1e;
	font-weight: bold;
	margin-bottom: 2px;
}

.field-hasError {
	border-left: 5px solid #b10e1e;
	padding-left: 10px;
}

/**************************************
* Select box
**************************************/

.field-selectBox {
	width: 100%;
	font-size: 1.1em;
}

/**************************************
* Text box
**************************************/

.field-textBox {
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #222;
}

/**************************************
* Radio buttons
**************************************/

.field-radioButton label {
	padding: 12px;
    background-color: #eee;
    margin-bottom: 7px;
    display: block;
    padding: 1.2em;
}

.field-radioButton input {
	margin-right: 5px;
}

.field-radioButton label:hover {
	background-color: #ddd;
}

/**************************************
* Radio buttons
**************************************/

.field-checkbox label {
	padding: 12px;
    background-color: #eee;
    margin-bottom: 7px;
    display: block;
    padding: 1.2em;
}

.field-checkbox input {
	margin-right: 5px;
}

.field-checkbox label:hover {
	background-color: #ddd;
}

/**************************************
* Date
**************************************/

.field-dayWrapper,
.field-monthWrapper,
.field-yearWrapper {
	display: inline-block;
}

.field-dayWrapper,
.field-monthWrapper {
	width: 4em;
}

.field-yearWrapper {
	width: 5em;
}


.field-dayWrapper label,
.field-monthWrapper label,
.field-yearWrapper label {
	display: block;
}

.field-dayBox,
.field-monthBox,
.field-yearBox {
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #222;
}

/**************************************
* Checkboxes
**************************************/

