<div class="field {% if error %}field-hasError{% endif %}">
	<label for="{{name}}">
		<span class="field-label">{{label}}</span>
		{% if hint %}
			<span class="field-hint">{{hint}}</span>
		{% endif %}
		{% if error %}
			<span class="field-error">{{error}}</span>
		{% endif %}
	</label>
	<select id="{{name}}" name="{{name}}" class="field-selectBox">
		{% for item in options %}
			<option value="{{this.value}}" {% if item.selected%}selected{% endif %}>{{item.text}}</option>
		{% endfor %}
	</select>
</div>